/* Global styles */
:root {
  --primary-color: #23a6d5;
  --secondary-color: #4eb5f1;
  --text-color: #fffffe;
}

* {
  box-sizing: border-box;
}

body {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.banner {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.banner-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 200px;
}

/* Link styles */
.link a {
  text-align: center;
}
.link {
  display: flex;
  align-items: center;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: var(--text-color);
  background-color: var(--secondary-color);
  transition: all 0.2s;
}

.link:hover {
  background-color: var(--primary-color);
  color: #fff;
}

@media all and (max-width: 30em) {
  .link {
    display: block;
    margin: 0.2em auto;
  }
}

/* Thumbnail styles */
.thumbnail {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

/* Name styles */
.name {
  color: var(--text-color);
  text-align: center;
  margin-bottom: 20px;
}

/* Social icon styles */
.social-icons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.social-icons a {
  color: var(--primary-color);
  text-decoration: none;
  width: 100px;
  height: 100px;
}

.social-icons a:hover {
  color: #fff;
}

/* Items container styles */
.items {
  margin: auto;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 640px;
}

/* Gradient animation */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
